.weather-section h1, .weather-section h2, .weather-section h3, .weather-section h4, .weather-section h5, .weather-section span, .weather-section label, .weather-section input[value] {
  margin-top: 5px !important;
  margin-bottom: 0px !important;
  font-family: "Comic Sans MS", cursive, sans-serif; }

.weather-section .h1-temp-weather {
  font-size: 48px; }

.weather-section .div-type-temp {
  margin-left: 10px; }

.weather-section .span-temp-type {
  font-size: 10px;
  vertical-align: top !important; }

.weather-section .img-temp {
  width: 60px;
  height: 60px;
  margin-top: -10px;
  margin-bottom: -5px; }

